// Theme
// -----------------------------
$theme-bg:               #09090b!default;
$theme-base:             #fafafa!default;
$theme-primary:          #fafafa!default;
$theme-secondary:        #a1a1aa!default;

// Colors
// -----------------------------
$text-dark:                 #fafafa!default;
$text:                      #a1a1aa!default;
$text-light:                #a1a1aa!default;
$text-lighter:              #71717a!default;
$text-hint:                 #71717a!default;
$text-disabled:             #71717a!default;

$brand-info:                $theme-secondary!default;
$brand-success:             #3f8f72!default;
$brand-warning:             #a16207!default;
$brand-danger:              #dc2626!default;
$brand-default:             #a1a1aa!default;
$brand-purple:              #71717a!default;
$brand-pink:                #fafafa!default;
$brand-primary:             $theme-primary!default;
$brand-secondary:           $theme-secondary!default;

// App
$border-color:              #27272a!default;
$link-color:                $text-dark!default;
$placeholder:               $text-hint!default;
$selection:                 #27272a!default;
$input-highlight:           #27272a!default;

$db-select-text:            white!default;
$query-editor-bg:           #09090b!default;

$row-handle-selected:       #27272a;
$row-handle-hover:          #27272a;

$titlebar-bg:               transparent!default;
$global-sidebar-bg:         transparent!default;
$sidebar-bg:                #09090b!default;
$sidebar-heading-bg:        $theme-bg!default;
$tabs-bg:                   transparent!default;
$statusbar-bg:              #09090b!default;
// $statusbar-bg:             rgba($theme-primary, 0.4);

$statusbar-text:            black!default;
$statusbar-text-default:    white!default;


// Layout
// ------------------------------

// Buttons
$btn-border-radius:         8px;
$btn-border-radius-small:   6px;

// Inputs
$input-padding-h:           0;
$input-height:              26px;
$input-padding-w:           0.75rem;
$input-radius:              4px;

// Padding
$gutter-w:                  0.8rem;
$gutter-h:                  0.4rem;

// Sidebar
$sidebar-w:                 400px;
$sidebar-min-w:             300px;
$sidebar-max-w:             90%;
$sidebar-icon-w:            1.4rem;

// Query Editor
$tab-height:                2.4rem;
$tab-padding-w:             1rem;

// Statusbar
$statusbar-height:          2.6rem;




// text
$font-family: system-ui,
          -apple-system, BlinkMacSystemFont,
          "Segoe UI",
          "Roboto",
          "Oxygen",
          "Ubuntu",
          "Cantarell",
          "Fira Sans",
          "Droid Sans",
          "Helvetica Neue",
          Arial, sans-serif;

$grouped-tables-base: #18181b;
$grouped-tables-light: #27272a;

$scrollbar-track: transparent;
$scrollbar-thumb: #27272a;
